*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c86cfab;
    font-family: Arial, sans-serif;
}
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.fline{
    display: flex;
        gap: 20px;

}
.ephone{
    display: flex;
        gap: 20px;

}
.pass{
    display: flex;
        gap: 20px;

}
.rad{
    display: flex;
    gap: 20px;
}
input{
    width: 100%;
    padding: 8px;
    padding-right: 20px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}